body {
    background:url(../Imagenes/fondo1.jpg);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
h2{
    color:white;
    font-family: "Bradley Hand ITC";
    text-align: center
}
p{
    color:whitesmoke;
    font-family: "Comic Sans MS";
}
div ul{
    background:#333333;
    width:700px;
    padding:05px;
    border:03px solid #666666;
    text-align: justify;
    color:whitesmoke;
    font-family: "Comic Sans MS";
    margin-left: 20px;
}
.text {
    position:absolute;
    top: 130px;
    text-align: justify;
    left:510px;
    padding: 10px;
    margin-right: 20px;
    border:03px solid #666666;
    color:whitesmoke;
    background:#333333;
}
.img2 {
    position:absolute;
    top:475px;
    left:775px; 
    
}
.img1 {
    position: flex;
    margin:auto;
    padding: 10px;
}
    
.main-footer {
    background: #222222;
    color: white;
    padding: 10px;
    padding-top: 0px;
    padding-bottom: 20px;
    font-size: .8em;
    
}

.copy {
    text-align: center;
    margin: auto;
    margin-top: 15px;
    
}
.column__txt {
    text-align: center;
    margin: auto
}


